body {
  background-color: #ffe607;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feffad;
}

button {
  color: #0bcb1f;
  background-color: aquamarine;
  border: 2px solid #0bcb1f;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: -webkit-linear-gradient(45deg, rgb(40, 40, 40), rgb(133, 133, 133));
  box-shadow: inset 1px 1px 6px 2px rgb(53, 53, 53);
  padding: 20px;
}

footer img {
  width: 15vh;
}

footer p {
  font-weight: 700;
}

.footer-logo {
  width: 150px;
}
